.chapter {
  background-color: #fff;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  font-family: cursive;
}
.image  {
  background-color: #fff;
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}
a {
  display: block;
  background-color: aliceblue;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

body {
  background-color: white;
  /*background-image: url(../img/alice_fancy.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
